:root {
	--color-black: #000000;
	--color-white: #ffffff;

	--color-white-opacity-30: #ffffff30;
	--color-black-opacity-30: #00000030;

	--color-header: #eeeeee;
	--color-preview-bg-hover: #4d4d4d;
	--color-social-bg: #bbbbbb;

	--color-input: #d7dcde;
	--color-input-hover: #b4b9bb;
	--color-input-focus: #000000;
	--color-input-invalid: #e74246;

	--color-button: #eeeeee;
	--color-button-hover: #dfdfdf;
	--color-button-active: #d5d5d5;
	--color-button-shadow: #bfbfbf;
	--color-button-border: #dbdbdb;

	--color-close: #fecccd;
	--color-close-hover: #fb565a;
	--color-close-active: #ffeeee;

	--color-sort: #ededed;
	--color-sort-hover: #666666;
	--color-sort-active: #000000;

	--color-radio: #b8b8b8;
	--color-radio-hover: #4d4d4d;
	--color-radio-active: #ededed;

	--color-preview-link: #000000;
	--color-preview-link-hover: #fb565a;
	--color-preview-link-active: #b2b2b2;

	--color-red: #fb565a;
	--color-red-hover: #e74246;
	--color-red-active: #d7373b;
	--color-red-shadow: #c13135;

	--color-green: #00ca74;
	--color-green-hover: #00bc6c;
	--color-green-active: #00aa62;
	--color-green-shadow: #009958;

	--color-yellow: #efc84a;
	--color-yellow-hover: #eab534;
	--color-yellow-active: #e5a722;
	--color-yellow-shadow: #ce961f;
}

@font-face {
	font-family: "roboto";
	src: url(../fonts/roboto.woff);
	src: url(../fonts/roboto.woff2);
}

@font-face {
	font-family: "robotobold";
	src: url(../fonts/robotobold.woff);
	src: url(../fonts/robotobold.woff2);
}

@font-face {
	font-family: "robotomedium";
	src: url(../fonts/robotomedium.woff);
	src: url(../fonts/robotomedium.woff2);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	margin: 0 auto;
	width: 1160px;
}

.site-header-wrapper {
	background-color: var(--color-header);
}

.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	min-height: 130px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-top: 5px;
	margin-right: 20px;
	padding: 0;
	min-width: 450px;
}

.user-navigation__item-wrapper,
.site-navigation__item-wrapper {
	text-transform: uppercase;
	font-family: "robotobold";
	font-size: 15px;

	list-style: none;
}

.link:hover {
	color: var(--color-preview-link-hover);
	cursor: pointer;
}

.link:active {
	color: var(--color-preview-link-active);
}

.user-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-top: 5px;
	padding: 0;
}

.link__image {
	margin-right: 20px;
}

.features-wrapper {
	background-color: var(--color-header);
}

.features {
	position: relative;

	display: flex;
}

.features__information {
	width: 600px;

	z-index: 9;
}

.features__slogan {
	margin-top: 50px;

	font-size: 55px;
	line-height: 55px;
	font-family: "robotomedium";
}

.features__slogan-explanation {
	margin-top: 25px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: none;
	border-radius: 3px;

	color: var(--color-black);
	font-family: "robotobold";
	text-transform: uppercase;

	background-color: transparent;

	cursor: pointer;
}

.button--red {
	color: var(--color-white);

	background-color: var(--color-red);
}

.button--red:focus,
.button--red:hover {
	background-color: var(--color-red-hover);
}

.button--red:active {
	color: var(--color-white-opacity-30);

	background-color: var(--color-red-active);
	box-shadow: inset 0 5px 5px var(--color-black-opacity-30);
}

.features__image-wrapper {
	height: 405px;
}

.features__image {
	position: absolute;

	bottom: 0;
	right: 30px;
}

.features__slider {
	position: absolute;
	left: 50%;
	bottom: 45px;
	transform: translate(-50%, 0);

	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
	z-index: 9;
}

.features__slider-wrapper {
	margin-right: 15px;
}

.features__button {
	margin-top: 40px;
	width: 240px;
	height: 50px;
}

.button--slider {
	position: relative;

	width: 20px;
	height: 20px;

	border-radius: 50%;

	background-color: var(--color-white);
}

.features-slider:focus + .button--slider {
	box-shadow: 0 0 0 2px var(--color-black);
}

.features-slider:checked + .button--slider::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 8px;
	height: 8px;

	border: 2px solid var(--color-social-bg);
	border-radius: 50%;

	content: "";
}

.offer {
	display: flex;
	justify-content: space-between;

	padding: 80px 0;
	padding-right: 60px;
}

.offer-item {
	width: 300px;
}

.image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-wrapper__background {
	display: flex;

	background-color: var(--color-social-bg);
}

.offer-item__title {
	margin-top: 25px;

	font-family: "robotobold";
	font-size: 24px;
	text-transform: uppercase;
}

.offer-item__text {
	margin: 20px 0 35px 0;
}

.offer-item__button {
	height: 50px;
	width: 160px;
}

.button--green {
	color: var(--color-white);

	background-color: var(--color-green);
}

.button--green:focus,
.button--green:hover {
	background-color: var(--color-green-hover);
}

.button--green:active {
	color: var(--color-white-opacity-30);

	background-color: var(--color-green-active);
	box-shadow: inset 0 5px 5px var(--color-black-opacity-30);
}

.button--yellow {
	color: var(--color-white);

	background-color: var(--color-yellow);
}

.button--yellow:focus,
.button--yellow:hover {
	background-color: var(--color-yellow-hover);
}

.button--yellow:active {
	color: var(--color-white-opacity-30);

	background-color: var(--color-yellow-active);
	box-shadow: inset 0 5px 5px var(--color-black-opacity-30);
}

.about {
	display: flex;
	justify-content: space-between;
	padding: 40px 0 70px 0;

	border-top: 2px solid var(--color-black-opacity-30);
}

.company-info {
	width: 660px;
}

.company-info__title {
	margin-top: 35px;

	font-family: "robotobold";
	font-size: 45px;
	line-height: 45px;
}

.company-info__text {
	margin-top: 30px;
}

.company-info__list-title {
	margin-top: 40px;

	text-transform: uppercase;
	font-family: "robotobold";
	font-size: 16px;
}

.company-info__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.company-info__list-item {
	position: relative;

	margin-top: 25px;
	margin-left: 35px;
}

.company-info__list-item::before {
	position: absolute;
	top: 50%;
	left: -35px;
	transform: translate(0, -2px);

	width: 25px;
	height: 2px;

	background-color: var(--color-red);

	content: "";
}

.company-in-numbers {
	width: 360px;
}

.company-in-numbers__list-title {
	margin-top: 35px;

	font-family: "robotobold";
	text-align: center;
	text-transform: uppercase;
}

.company-in-numbers__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin: 0;
	margin-top: 50px;
	padding: 0;

	list-style: none;
}

.company-in-numbers__list-item {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	width: 100px;
}

.company-in-numbers__percent {
	font-family: "robotobold";
	font-size: 45px;
}

.company-in-numbers__text {
	margin-top: 30px;

	line-height: 20px;
}

.projects {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	min-height: 185px;

	border-top: 2px solid var(--color-black-opacity-30);
	border-bottom: 2px solid var(--color-black-opacity-30);
}

.projects__container {
	position: relative;

	width: 290px;
}

.projects__container:not(:first-of-type)::before {
	position: absolute;
	top: 65px;
	left: 0;

	height: 50px;
	width: 1px;
	border: 1px solid var(--color-black-opacity-30);

	content: "";
}

.projects__image {
	opacity: 0.3;
}

.projects__container:hover .projects__image {
	opacity: 1;
}

.projects__container:active .projects__image {
	opacity: 0.1;
}

.projects__container:focus::before {
	display: none;
}

.map {
	display: flex;
	align-items: center;
	margin-top: 80px;
	min-height: 415px;
	width: 100%;

	background-image: url("../img/map.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.feedback {
	padding: 50px;

	width: 320px;
	min-height: 310px;

	background-color: var(--color-white);
	box-shadow: 0 20px 20px #00000070;
}

.feedback__title {
	text-transform: uppercase;
	font-family: "robotobold";
	font-size: 18px;
}

.feedback__address {
	margin-top: 30px;

	line-height: 18px;
}

.feedback__tel {
	margin-top: 15px;
}

.feedback__button {
	margin-top: 30px;
	height: 50px;
	width: 220px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 220px;
}

.social {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social__item {
	margin-right: 10px;
}

.button--rounded {
	border-radius: 50%;

	width: 80px;
	height: 80px;

	background-color: var(--color-social-bg);

	opacity: 0.3;
}

.button--rounded:focus,
.button--rounded:hover {
	opacity: 1;
}

.button--rounded:active .social__image {
	opacity: 0.3;
}

.discount {
	width: 760px;
}

.discount__slogan {
	font-family: "robotobold";
	font-size: 36px;
}

.discount__slogan-explanation {
	margin-top: 20px;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.write-us {
	display: flex;
	flex-direction: column;
	padding: 75px 100px;
	height: 590px;
	width: 960px;

	background-color: var(--color-white);
	box-shadow: 0 20px 20px #00000070;

	display: none;
}

.write-us__form {
	min-height: 360px;
}

.write-us__line {
	display: flex;
	justify-content: space-between;
}

.write-us__line--header {
	margin-bottom: 50px;
}

.write-us__line--contacts {
	margin-bottom: 25px;
}

.write-us__line--message {
	margin-bottom: 45px;
}

.write-us__title {
	font-size: 44px;
	font-family: "robotobold";
}

.write-us__close {
	align-items: flex-start;

	opacity: 0.3;
}

.write-us__close:focus,
.write-us__close:hover {
	opacity: 1;
}

.write-us__close:active {
	opacity: 0.1;
}

.write-us__cell {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.write-us__cell:not(:last-of-type) {
	margin-right: 40px;
}

.input-title {
	margin-bottom: 10px;

	font-family: "robotobold";
}

.input {
	padding: 15px;

	border: 2px solid var(--color-input);
	border-radius: 3px;

	height: 50px;
	width: 100%;
}

.input::placeholder {
	color: var(--color-input-hover);
}

.input:hover {
	border: 2px solid var(--color-input-hover);
}

.input:invalid {
	border: 2px solid var(--color-input-invalid);
}

.input:invalid::placeholder {
	color: var(--color-input-invalid);
}

.write-us__textarea {
	height: 120px;

	resize: none;
}

.write-us__button {
	width: 260px;
	height: 50px;
}

.main-title-wrapper {
	height: 215px;

	background-color: var(--color-header);
}

.main-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.main-title__text {
	margin-bottom: 100px;
	padding: 0;

	font-size: 55px;
	font-family: "robotobold";
}

.examples {
	display: flex;
	justify-content: space-between;
	margin: 55px auto;
}

.sort-wrapper {
	width: 260px;
}

.sort__submit-btn {
	margin-top: 40px;
	width: 100%;
	height: 50px;
}

.fieldset {
	margin: 0;
	padding: 0;

	border: none;
}

.fieldset--net {
	margin-top: 55px;
}

.fieldset--features {
	margin-top: 40px;
}

.fieldset--features .fieldset__list-item {
	height: 40px;
}

.fieldset__title {
	font-size: 18px;
	font-family: "robotobold";
	text-transform: uppercase;
}

.price-slider {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 55px;
	width: 100%;
	height: 75px;

	background-color: var(--color-sort);
	border-radius: 5px;
}

.price-slider-thumb {
	position: absolute;

	width: 90%;
}

.price-input-wrapper {
	margin-top: 15px;
}

.price-input {
	display: flex;
	justify-content: space-between;
}

.fieldset__list {
	margin: 0;
	padding: 0;

	margin-top: 10px;

	list-style: none;
}

.fieldset__list-item {
	display: flex;
	align-items: center;
}

.radio-label {
	display: flex;
	align-items: center;
	height: 40px;
}

.radio-indicator {
	display: flex;
	align-items: center;
	margin-right: 10px;
	width: 25px;
	height: 25px;

	background-image: url("../svg/radio-off.svg");
}

.radio-input:checked + .radio-indicator {
	background-image: url("../svg/radio-on.svg");
}

.checkbox-indicator {
	display: flex;
	align-items: center;
	margin-right: 10px;
	width: 27px;
	height: 23px;

	background-image: url("../svg/checkbox-off.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.checkbox-input:checked + .checkbox-indicator {
	background-image: url("../svg/checkbox-on.svg");
}

.checkbox-input:disabled + .checkbox-indicator,
.radio-input:disabled + .radio-indicator {
	opacity: 0.1;
}

.radio-input:focus + .radio-indicator,
.radio-input:active + .radio-indicator {
	box-shadow: 0 0 0 2px var(--color-black);
	border-radius: 50%;
}

.checkbox-input:focus + .checkbox-indicator,
.checkbox-input:active + .checkbox-indicator {
	box-shadow: 0 0 0 2px var(--color-black);
	border-radius: 5px;
}

.checkbox-indicator,
.radio-indicator {
	opacity: 0.5;
}

.fieldset__list-item:hover .checkbox-indicator,
.fieldset__list-item:hover .radio-indicator {
	opacity: 1;
}

.checkbox-label {
	display: flex;
}

.button--gray {
	background-color: var(--color-button);
}

.button--gray:hover:not(.button--current) {
	background-color: var(--color-button-hover);
}

.button--gray:active:not(.button--current) {
	color: var(--color-black-opacity-30);

	background-color: var(--color-button-active);
	box-shadow: inset 0 5px 5px var(--color-black-opacity-30);
}

.button--input {
	width: 80px;
	height: 40px;

	text-align: center;
	font-family: "roboto";
}

.results-wrapper {
	width: 760px;
}

.results__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}

.results__title {
	font-size: 18px;
	font-family: "robotobold";
	text-transform: uppercase;
}

.results__buttons {
	display: flex;
	justify-content: space-between;
	width: 360px;

	font-size: 14px;
}

.sort-by {
	border: none;
	padding: 3px 5px;
	margin-right: 5px;

	color: var(--color-sort);
	text-transform: uppercase;

	background-color: transparent;
}

.arrow {
	padding: 3px 5px;
}

.sort-by:hover {
	color: var(--color-sort-hover);
}

.arrow:hover svg,
.arrow:checked svg,
.arrow:active svg {
	fill: var(--color-sort-hover);
}

input.sort-by:checked + label.sort-by,
input.sort-by:active + label.sort-by {
	color: var(--color-sort-active);
}

input.arrow-input ~ svg {
	fill: var(--color-sort);
}

input.arrow-input:checked ~ svg,
input.arrow-input:active ~ svg {
	fill: var(--color-sort-active);
}

input.arrow-input:active ~ svg,
input.arrow-input:focus ~ svg,
input.sort-by:active + label.sort-by,
input.sort-by:focus + label.sort-by {
	box-shadow: 0 0 0 2px var(--color-black);
}

.sort-direction {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.sort-buttons {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.arrow--active {
	fill: var(--color-social-bg);
}

.results__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.preview {
	position: relative;

	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	min-height: 615px;
	min-width: 358px;

	overflow: hidden;
}

.preview:hover {
	box-shadow: 0 10px 10px #00000070;
}

.preview:hover .preview__popup {
	transform: translate(0, 0);
}

.preview:hover .preview__header {
	background-color: var(--color-sort-hover);
}

.preview__header {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	z-index: 99;

	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 40px;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	background-color: var(--color-sort);
}

.preview__header-dot {
	width: 15px;
	height: 15px;
	margin-right: 8px;

	border-radius: 50%;

	background-color: var(--color-white);
}

.preview__image {
	position: absolute;
	bottom: 1px;
	left: -1px;

	max-width: 362px;
}

.preview__popup {
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translate(0, 100%);

	display: flex;
	align-items: center;
	justify-content: center;
	height: 230px;
	width: 360px;

	background-color: var(--color-sort);

	transition: all 0.5s;
}

.preview__popup-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 200px;

	text-align: center;
}

.preview__title {
	font-size: 18px;

	margin-bottom: 25px;

	font-family: "robotobold";
	text-transform: uppercase;
}

.preview__text {
	margin-bottom: 25px;

	color: var(--color-sort-hover);
	line-height: 18px;
}

.preview__button {
	height: 50px;
	width: 200px;
}

.results__controls {
	display: flex;
	margin-top: 20px;
}

.results__button {
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

.results__button--next {
	width: 270px;
}

.button--current {
	border: 3px solid var(--color-button);

	background-color: var(--color-white);

	cursor: default;
}

.price-input__label {
	display: flex;
	align-items: center;

	text-transform: uppercase;
}

.show {
	display: block;
}

.slider-track {
	position: absolute;

	width: 90%;
	height: 2px;

	background-color: var(--color-button-active);

	z-index: 2;
}

.slider-track {
	--filler-width: calc(var(--max) - var(--min));
}

.slider-track::before,
.slider-track::after {
	position: absolute;

	height: 2px;

	background: var(--color-red);

	content: "";
	z-index: 4;
}

.slider-track::before {
	margin-left: calc(
		(var(--left-value) - var(--min)) / var(--filler-width) * 100%
	);
	width: calc(
		(var(--right-value) - var(--left-value)) / var(--filler-width) * 100%
	);
}

.slider-track::after {
	margin-left: calc(
		(var(--right-value) - var(--min)) / var(--filler-width) * 100%
	);
	width: calc(
		(var(--left-value) - var(--right-value)) / var(--filler-width) * 100%
	);
}

input[type="range"] {
	margin: 0;

	font: inherit;

	background: none;

	pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb,
input[type="range"] {
	-webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	position: relative;

	height: 2px;
	width: 100%;

	background: none;
	background-color: var(--color-button-active);
}

input[type="range"]::-moz-range-track {
	position: relative;

	height: 2px;
	width: 100%;

	background: none;
}

input[type="range"]::-webkit-slider-thumb {
	position: absolute;
	top: -9px;
	left: 0;

	width: 20px;
	height: 23px;

	background-image: url("../svg//filter-button.svg");
	border: none;
	border-radius: 0;

	pointer-events: auto;
	z-index: 9;
}

input[type="range"]::-moz-range-thumb {
	position: absolute;
	top: -9px;
	left: 0;

	width: 20px;
	height: 23px;

	background-image: url("../svg//filter-button.svg");
	border: none;
	border-radius: 0;

	pointer-events: auto;
	z-index: 9;
}
