:root {
  --color-black: #000000;
  --color-white: #ffffff;
 
  --color-white-opacity-30: #ffffff30;
  --color-black-opacity-30: #00000030;

  --color-header: #eeeeee;
  --color-preview-bg-hover: #4d4d4d;
  --color-social-bg: #e1e1e1;
  
  --color-input: #d7dcde;
  --color-input-hover: #b4b9bb;
  --color-input-focus: #000000;
  --color-input-invalid: #e74246;

  --color-button: #eeeeee;
  --color-button-hover: #dfdfdf;
  --color-button-active: #d5d5d5;
  --color-button-shadow: #bfbfbf;
  --color-button-border: #dbdbdb;

  --color-close: #fecccd;
  --color-close-hover: #fb565a;
  --color-close-active: #ffeeee;

  --color-sort: #ededed;
  --color-sort-hover: #666666;
  --color-sort-active: #000000;

  --color-radio: #b8b8b8;
  --color-radio-hover: #4d4d4d;
  --color-radio-active: #ededed;

  --color-preview-link: #000000;
  --color-preview-link-hover: #fb565a;
  --color-preview-link-active: #b2b2b2;

  --color-red: #fb565a;
  --color-red-hover: #e74246;
  --color-red-active: #d7373b;
  --color-red-shadow: #c13135;
 
  --color-green: #00ca74;
  --color-green-hover: #00bc6c;
  --color-green-active: #00aa62;
  --color-green-shadow: #009958;
 
  --color-yellow: #efc84a;
  --color-yellow-hover: #eab534;
  --color-yellow-active: #e5a722;
  --color-yellow-shadow: #ce961f;
}

@font-face {
	font-family: "roboto";
	src: url(../fonts/roboto.woff);
	src: url(../fonts/roboto.woff2);
}

@font-face {
	font-family: "robotobold";
	src: url(../fonts/robotobold.woff);
	src: url(../fonts/robotobold.woff2);
}

@font-face {
	font-family: "robotomedium";
	src: url(../fonts/robotomedium.woff);
	src: url(../fonts/robotomedium.woff2);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}

a {
	color: #000000;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
